* {
    max-width: 100%;
    font-family: serif;
    box-sizing: border-box;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    background-color: rgb(2, 2, 2);
}

body {
    background: url(../pictures/Profile\ Background.jpg);
}

main {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}

h1::after{
    content: " Manley";
    color:rgb(255, 255, 255);
}

nav {
    display: block;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    color: white;
}

ul a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
}

h2 {
    color: rgb(0, 183, 255);
}

h3 {
    color:rgb(180, 216, 230)
}

header li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
}

p {
     color: #fff;
     font-size: 2rem;
}

.cards p {
    color: black;
    font-size: 18px;
    border-spacing: 5rem;
}

.myPicture {
    height: max;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.image {
    width: 250px;
    height: 250px;
    margin: 2rem;
}

.image:hover {
    transform: scale(1.25);
    cursor:pointer
}

section {
    color:#fff
}

.d-block {
    opacity: 0.5;
}

#slide2 {
    color: white;
}

#slide2 a p {
    color: white;
}

#myWork {
    width: 1050px;
    border-radius: 1rem;
}

#gitImg {
    border-radius: 50%;
    border-width: 1px;
    padding: 10px;
    /* flex: 0 0 300px; */
    margin: 20px;
}

#jsImg {
    border-radius: 50%;
    border-width: 1px;
    padding: 10px;
    /* flex: 0 0 300px; */
    margin: 20px;
}

#nodeImg {
    border-radius: 50%;
    border-width: 1px;
    padding: 10px;
    /* flex: 0 0 300px; */
    margin: 20px;
}


footer li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .container {
        left: 100px;
    }
}


@media screen and (min-width: 768px) {
    .cards {
        display: none;
    }
    .dropdown {
        display: none;
    }
    nav {
        display: block;
    }
}


@media screen and (max-width: 767px) {
    .carousel {
        display: none;
    }
    .dropdown {
        display: block;
    }
    nav {
        display: none;
    }
}